<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NYMBv2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="NYMBv2.Properties.Settings.NYMBv2_DBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\NYMBv2_DB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <NYMBv2.Properties.Settings>
            <setting name="smtp_Credentials_Email" serializeAs="String">
                <value>notyourmothersbasementG3@gmail.com</value>
            </setting>
            <setting name="smtp_Credentials_Password" serializeAs="String">
                <value>capstoneG3</value>
            </setting>
            <setting name="smtp_Host" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="smtp_Port" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="generateColumns" serializeAs="String">
                <value>True</value>
            </setting>
        </NYMBv2.Properties.Settings>
    </userSettings>
</configuration>